//variables de couleur pour le haut du menu
$blackColor: #111111;
$grayColor: #252525;
//font
@font-face {
    font-family: 'roboto';
    src: url('../font/Roboto-Regular.ttf');
    }
.nopadding {
    padding: 0px !important;
}
.blackColor {
    //barre noir tout en haut de la page
    background-color: $blackColor;
    padding: 14px 0px 14px 0px;
    //text dans la barre noir
    p {
        font-family: roboto;
        color: #636363;
        font-size: 13px;
        font-weight: 400;
    }
    //j'enleve le padding sur certaines colonnes pour que tout rentre le miens
    .col-4 {
        padding: 0px;
    }
    //transition de couleur au hover sur les logos reseaux
    .reseaux:hover {
        color:#e5493a;
        transition: 0.4s;
    }
    .reseaux {
        transition: 0.4s;
    }
    //couleur verte pour le register
    #spanRegister {
        color: #8dc63f;
    }
    //couleur blanche pour les items
    #spanItems {
        color: #959595;
    }
}

//css du menu
.grayColor {
    background-color: #252525;
    padding-top: 40px;
    padding-bottom: 40px;
    .active {
        color: #e5493a !important;
    }
    i {
        color: #555555;
    }
    ul {
        li {
            a {
                padding-left: 15px !important;
                padding-right: 15px !important;
            }
            .textColorGray {
                color: #707070 !important;
            }
            .textColorGray:hover {
                color: #e5493a !important;
            }
        }
    }
}

//css de tous le carrousel
.CAROUSEL {
    .active {
        color: #e5493a;
    }
    i {
        color: #ffffff;
        padding: 5px;
    }
    h2 {
        width: 800px;
        position: relative;
        color: #ffffff;
        font-size: 80px;
        font-weight: 400;
        text-transform: uppercase;
        margin-left: 40%;
        margin-right: auto;
        margin-top: -500px;
        text-align: left;
    }
    h3 {
        width: 800px;
        position: relative;
        color: #ffffff;
        font-size: 45px;
        font-weight: 400;
        text-transform: uppercase;
        margin-left: 40%;
        text-align: left;
        span {
            color: #e5493a;
        }
    }
    p {
        width: 650px;
        position: relative;
        color: #555555;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        text-transform: uppercase;
        margin-left: 40%;
        text-align: left;
    }
    #button1 {
        position: relative;
        text-align: left;
        display: inline-block;
        padding: 15px 30px 15px 30px;
        background-color: transparent;
        border: 2px solid #ffffff;
        margin-left: 10%;
        transition: 0.4s;
        color: white;
    }
    #button1:hover {
        position: relative;
        text-align: left;
        display: inline-block;
        padding: 15px 30px 15px 30px;
        background-color: #e5493a;
        border: 2px solid #e5493a;
        margin-left: 10%;
        transition: 0.4s;
        color: white;
    }
    #button2 {
        position: relative;
        margin-left: 10px;
        display: inline-block;
        padding: 15px 30px 15px 30px;
        background-color: transparent;
        border: 2px solid #ffffff;
        transition: 0.4s;
        color: white;
    }
    #button2:hover {
        position: relative;
        margin-left: 10px;
        display: inline-block;
        background-color: #e5493a;
        border: 2px solid #e5493a;
        transition: 0.4s;
        color: white;
    }
    .carousel-control-next-icon {
        background-color: #363a3d;
        position: absolute;
        right: 0;
        padding: 20px;
        background-size: 20px;
        transition: 0.4s;
    }
    .carousel-control-next-icon:hover {
        background-color: #e5493a;
        position: absolute;
        right: 0;
        padding: 20px;
        background-size: 20px;
        transition: 0.4s;
    }
    .carousel-control-prev-icon {
        background-color: #363a3d;
        position: absolute;
        left: 0;
        padding: 20px;
        background-size: 20px;
        transition: 0.4s;
    }
    .carousel-control-prev-icon:hover {
        background-color: #e5493a;
        position: absolute;
        left: 0;
        padding: 20px;
        background-size: 20px;
        transition: 0.4s;
    }
}

@media screen and (min-width: 1050px) and (max-width: 1330px) {
    .CAROUSEL {
        h2 {
            margin-top: -400px;
        }
        p {
            width: 500px;
        }
        #button1 {
            margin-left: 15%;
        }
    }
  }
  @media screen and (min-width: 800px) and (max-width: 1050px) {
    .CAROUSEL {
        h2 {
            font-size: 50px;
            margin-top: -300px;
        }
        h3 {
            font-size: 30px;
        }
        p {
            width: 400px;
        }
        #button1 {
            margin-left: 25%;
        }
    }
  }
  @media screen and (min-width: 650px) and (max-width: 800px) {
    .CAROUSEL {
        h2 {
            font-size: 50px;
            margin-top: -200px;
        }
        h3 {
            font-size: 30px;
        }
        p {
            width: 400px;
        }
        #button1 {
            margin-left: 36%;
        }
    }
  }

  // Pense a faire les polices d'ecriture