//variables de couleur pour le haut du menu
$blackColor: #111111;
$grayColor: #252525;
//font
@font-face {
    font-family: 'roboto';
    src: url('../font/Roboto-Regular.ttf');
    }
@font-face {
    font-family: 'Raleway-ExtraBold';
    src: url('../font/Raleway-ExtraBold.ttf');
    }
@font-face {
    font-family: 'Raleway';
    src: url('../font/Raleway-Regular.ttf');
    }
.nopadding {
    padding: 0px 0px 0px 0px !important;
}
.blackColor {
    //barre noir tout en haut de la page
    background-color: $blackColor;
    padding: 14px 0px 14px 0px;
    //text dans la barre noir
    p {
        font-family: roboto;
        color: #636363;
        font-size: 13px;
        font-weight: 400;
    }
    //j'enleve le padding sur certaines colonnes pour que tout rentre le miens
    .col-4 {
        padding: 0px;
    }
    //transition de couleur au hover sur les logos reseaux
    .reseaux:hover {
        color:#e5493a;
        transition: 0.4s;
    }
    .reseaux {
        transition: 0.4s;
    }
    //couleur verte pour le register
    #spanRegister {
        color: #8dc63f;
    }
    //couleur blanche pour les items
    #spanItems {
        color: #959595;
    }
}

//css du menu
.grayColor {
    background-color: #252525;
    padding-top: 40px;
    padding-bottom: 40px;
    .active {
        color: #e5493a !important;
    }
    i {
        color: #555555;
    }
    ul {
        li {
            a {
                padding-left: 15px !important;
                padding-right: 15px !important;
            }
            .textColorGray {
                color: #707070 !important;
                font-family: Raleway-ExtraBold;
                transition: 0.4s;
            }
            .textColorGray:hover {
                color: #e5493a !important;
                transition: 0.4s;
            }
        }
    }
}

//css de tous le carrousel
.CAROUSEL {
    .active {
        color: #e5493a;
    }
    i {
        color: #ffffff;
        padding: 5px;
    }
    h2 {
        width: 800px;
        position: relative;
        color: #ffffff;
        font-size: 80px;
        font-weight: 400;
        text-transform: uppercase;
        margin-left: 40%;
        margin-right: auto;
        margin-top: -500px;
        text-align: left;
        font-family: Raleway-ExtraBold;
    }
    h3 {
        width: 800px;
        position: relative;
        color: #ffffff;
        font-size: 45px;
        font-weight: 400;
        text-transform: uppercase;
        margin-left: 40%;
        text-align: left;
        font-family: Raleway-ExtraBold;
        span {
            color: #e5493a;
        }
    }
    p {
        width: 650px;
        position: relative;
        color: #555555;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        text-transform: uppercase;
        margin-left: 40%;
        text-align: left;
        font-family: Raleway-ExtraBold;
    }
    #button1 {
        position: relative;
        text-align: left;
        display: inline-block;
        padding: 15px 30px 15px 30px;
        background-color: transparent;
        border: 2px solid #ffffff;
        margin-left: 10%;
        transition: 0.4s;
        color: white;
        font-family: Raleway-ExtraBold;
    }
    #button1:hover {
        position: relative;
        text-align: left;
        display: inline-block;
        padding: 15px 30px 15px 30px;
        background-color: #e5493a;
        border: 2px solid #e5493a;
        margin-left: 10%;
        transition: 0.4s;
        color: white;
    }
    #button2 {
        position: relative;
        margin-left: 10px;
        display: inline-block;
        padding: 15px 30px 15px 30px;
        background-color: transparent;
        border: 2px solid #ffffff;
        transition: 0.4s;
        color: white;
        font-family: Raleway-ExtraBold;
    }
    #button2:hover {
        position: relative;
        margin-left: 10px;
        display: inline-block;
        background-color: #e5493a;
        border: 2px solid #e5493a;
        transition: 0.4s;
        color: white;
    }
    .carousel-control-next-icon {
        background-color: #363a3d;
        position: absolute;
        right: 0;
        padding: 20px;
        background-size: 20px;
        transition: 0.4s;
    }
    .carousel-control-next-icon:hover {
        background-color: #e5493a;
        position: absolute;
        right: 0;
        padding: 20px;
        background-size: 20px;
        transition: 0.4s;
    }
    .carousel-control-prev-icon {
        background-color: #363a3d;
        position: absolute;
        left: 0;
        padding: 20px;
        background-size: 20px;
        transition: 0.4s;
    }
    .carousel-control-prev-icon:hover {
        background-color: #e5493a;
        position: absolute;
        left: 0;
        padding: 20px;
        background-size: 20px;
        transition: 0.4s;
    }
}

//section en dessous du carroussel la class hover sert a changer les couleur de tous les elements en meme temps quand on passe la souris dessus
.grayColor2 {
    background-color: #252525;
    .section4margin {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .hover {
        .circle {
            transition: 0.4s;
            background-color: transparent;
            border: 1px solid #363636;
            border-radius: 100%;
            width: 100px;
            height: 100px;
            i{
                transition: 0.4s;
                margin-top: 27px;
                font-size: 39px;
                color: #363636;
                margin-left: 25%;
                margin-right: 25%;   
            }
            #icons2 {
                font-size: 55px;
                margin-top: 22px;
                margin-left: 24%;
            }
            #icons3 {
                margin-left: 36%;
                font-size: 45px;
            }
            #icons4 {
                font-size: 50px;
                margin-top: 24px;
            }
        }
        h3 {
            transition: 0.4s;
            color: #636363;
            font-size: 18px;
            font-weight: 400;
            line-height: 20px;
            text-transform: uppercase;
            margin-top: 30px;
            font-family: Raleway-ExtraBold;
        }
        p {
            transition: 0.4s;
            color: #555555;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            margin-top: 20px;
        }
    }
    .hover:hover {
        h3 {
            transition: 0.4s;
            color: #e5493a;
        }
        p {
            transition: 0.4s;
            color: #ffffff;
        }
        .circle {
            transition: 0.4s;
            border: 1px solid #e5493a;
            i {
                transition: 0.4s;
                color: #e5493a;
            }
        }
    }
    .trait {
        width: 100%;
        height: 2px;
        background-color: #e5493a;
        margin-top: 30px;
    }
}

.Black2 {
    background-color: #202020;
    .margin5section {
        padding-top: 80px;
        padding-bottom: 160px;
    }
    .firstContainer {
        .trait2 {
            width: 100%;
            height: 2px;
            background-color: #2f2f2f;
        }
        h2 {
            color: #ffffff;
            font-family: Raleway;
            font-size: 30px;
            font-weight: 700;
            line-height: 28px;
            text-transform: uppercase;
            margin-top: 30px;
        }
        p {
            margin-top: 30px;
            color: #464646;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
        }
    }
    .ContainerIMG {
        img {
            width: 100%;
            height: 100%;
        }
    }
    .container1 {
        background-image: url(../img/image2container.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .container2 {
        background-image: url(../img/image3container.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .container3 {
        background-image: url(../img/image4container.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .container5 {
        background-image: url(../img/image5container.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media screen and (min-width: 1050px) and (max-width: 1330px) {
    .CAROUSEL {
        h2 {
            margin-top: -400px;
        }
        p {
            width: 500px;
        }
        #button1 {
            margin-left: 15%;
        }
    }
  }
  @media screen and (min-width: 800px) and (max-width: 1050px) {
    .CAROUSEL {
        h2 {
            font-size: 50px;
            margin-top: -300px;
        }
        h3 {
            font-size: 30px;
        }
        p {
            width: 400px;
        }
        #button1 {
            margin-left: 25%;
        }
    }
  }
  @media screen and (min-width: 650px) and (max-width: 800px) {
    .CAROUSEL {
        h2 {
            font-size: 50px;
            margin-top: -200px;
        }
        h3 {
            font-size: 30px;
        }
        p {
            width: 400px;
        }
        #button1 {
            margin-left: 36%;
        }
    }
  }

  // Pense a faire les polices d'ecriture